<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="{{friend}}">
<ion-content class="has-header padding">
	<div class="list card">
	  <div class="item item-avatar">
	    <img ng-src="{{food.link}}">
	    <h2>{{food.name}}</h2>
	    <p>{{food.city}} - {{food.neighborhoods[0]}}</p>
	  </div>

	  <div class="item item-body">
	    <img class="full-image" ng-src="{{food.link}}">
	    <p>
	      {{food.adress}}
	    </p>
	    <p>
	      Call us at {{food.phone}}
	    </p>
	    <p>
	      <a href={{food.mobileUrl}}>See our Yelp Page </a>
	    </p>
	    <p>
	      Our Rating is <img ng-src='{{food.rating}}'>
	    </p>
	 <!--    <p>
	      <a href="#" class="subdued">1 Like</a>
	      <a href="#" class="subdued">5 Comments</a>
	    </p> -->
	  </div>

	  <div class="item tabs tabs-secondary tabs-icon-left">
	    <a class="tab-item" href="#">
	      <i class="icon ion-thumbsup"></i>
	      Like
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-chatbox"></i>
	      Comment
	    </a>
	    <a class="tab-item" href="#">
	      <i class="icon ion-share"></i>
	      Share
	    </a>
	  </div>
	</div>
	<ion-content>
</ion-view>
