<ion-view title="Account">
  <ion-content class="has-header padding">
    <h1>Account</h1>
    <div class="list">
    	<!-- Email -->
      <label class="item item-input">
        <!-- <span class="input-label">Email</span> -->
      	<input ng-model="user.username" style="border:solid grey; padding:30px; margin:5px" type="email" name="email" required placeholder='Email'>
      </label>
      <!-- Password -->
      <label class="item item-input">
        <!-- <span class="input-label">Password</span> -->
        <input ng-model="user.password" style="border:solid grey; padding:30px; margin:5px" type="password" name="password" placeholder='Password'required>
      </label>
    </div>      
    <button type="submit" ng-click="submitForm()" class="button button-block button-positive button-outline">Submit</button>	
    <button type="submit" ng-click="signUp()" class="button button-block button-balanced button-outline">Sign Up</button>
    <button type="submit" ng-click="signOut()" class="button button-block button-assertive button-outline">Sign Out</button>
	        

  </ion-content>
</ion-view>

