<ion-view title="Account">
  <ion-content class="has-header padding">
      <div>
        <fa-app style="height: 1000px">

      <fa-flipper>
          
          <fa-modifier fa-size="[500,500]" fa-translate="[0, 200, 200]">
    
    <fa-surface>
            <fa-image-surface fa-image-url="../images/AppetEYES.png" fa-click="flipIt()">
            </fa-image-surface>
          </fa-modifier>
          
          <!-- <fa-modifier fa-size="[200, 200]">
            <fa-image-surface fa-image-url="../images/AppetEYESback.png" fa-click="flipIt()">
            </fa-image-surface>
          </fa-modifier>  -->

          <fa-modifier fa-size="[500, 500]" fa-translate="[50, 200, 200]">
           <fa-surface fa-color="'black'">

              <input ng-model="user.username" type="email" name="email" placeholder="Email" required></input>
              <input ng-model="user.password" type="password" name="password" placeholder="Password" required>

              <button type="submit" ng-click="submitForm()">Log In</button>  

              <button type="submit" ng-click="signUp()">Sign Up</button>
                
              <button type="submit" ng-click="signOut()">Sign Out</button>
            </fa-surface>
          </fa-modifier> 

        </fa-flipper>

              </fa-app>
            </div>      

  </ion-content>
</ion-view>
